.button {
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

.icon-white {
    -fx-fill: white;
}

.text-field {
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

#nextButton {
    -fx-background-radius: 50%;
}

#prevButton {
    -fx-background-radius: 50%;
}


.list-cell {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #732bb5;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.list-cell:filled:selected {
    -fx-background-color: #d9bcff;
    -fx-text-fill: #732bb5;
}

loginPane {
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

signupPane {
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}