.button {
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

.icon-white {
    -fx-fill: white;
}

.text-field {
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

#nextButton {
    -fx-background-radius: 50%;
}

#prevButton {
    -fx-background-radius: 50%;
}